Source: leap-bonafide
Maintainer: Micah Anderson <micah@debian.org>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9)
Standards-Version: 3.9.8

Package: leap-bonafide
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-twisted,
Description: LEAP Authentication and Service Discovery.
 This package includes the python client.
